langchain
langchain-core
langchain-community
langgraph
langgraph-checkpoint
langchain-groq
langchain_ollama
transformers
torch
sentence-transformers
accelerate
bitsandbytes
peft
faiss-cpu
pypdf
python-docx
numpy
pandas
faster-whisper
ffmpeg-python
nltk
webvtt-py
pysrt
huggingface_hub
chromadb
pymupdf
flash-attn
